<h1>Atualizar filial</h1>

<% if @subsidiary.errors.any? %>
  <p>Você deve corrigir os seguintes erros:</p>
  <ul>
  <% @subsidiary.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= render partial: 'form', locals: { subsidiary: @subsidiary } %>
