<h1>Carros</h1>

<%= link_to 'Cadastrar novo carro', new_car_path %>

<% @cars.each do |car| %>
  <ul>
    <li>Placa: <%= car.license_plate %></li>
  </ul>
<% end %>

<p><%= link_to 'Voltar', subsidiaries_path %></p>
