<h1> Modelo </h1>

<h3><%= @car_model.name %></h3>
<dl>
  <dt>Ano:</dt>
  <dd><%= @car_model.year %></dd>
  <dt>Fabricante:</dt>
  <dd><%= @car_model.manufacturer.name %></dd>
</dl>

<p><%= link_to 'Voltar', car_models_path %></p>